
#winw{
    #headerwarp{
        #headersub{
            .logo{
                float:none;
                background-color:green;
            }
            .cssmenu{
                float:none;
                #gNavi{

                }
            }
        }

    }
}
