
#winw{
    #headerwarp{
        background-color:white;
       
        .header_box{
            border-bottom:display none;
        }
        #headersub{
            padding-top: 30px;
            .logo{
                float:none;
               
                border-bottom:10px solid #000;
                .logoArea{
                    img{
                        width:200px;
                        height:70px !important;
                        object-fit:cover;
                    }
                }
            }
            // .cssmenu{
            //     float:none;
            //     #gNavi{

            //             li{
            //                 display:inline-block;
            //                 margin:0 15px;
            //                 a{
            //                     font-size:16px;
            //                     color:#333;
            //                     &:hover{
            //                         color:#000
            //                     }
            //                 }
            //             }
            //     }
            // }
        }

    }
}


            





.top_line{
    background-color:#501960;
    width:100%;
    height:30px;
    text-align:center;
    color:white;
    position:fixed;
    z-index:999;
    
    top:0;
    left:0;
}

.both_sns {
  position: fixed;
  width: 1200px;
  z-index: 999;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .top-aside-sns-btn {
    img {
      width: 30px;
      height: 30px;
    }
  }

  .user-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    padding:5px 0;
     .user-btns {
      display: flex;
      align-items:space-between;
      font-size: 14px;
      
        >div{
            padding: 0 15px;
        }     
   
      }
       .basket-wrapper{
        margin-right:15px;
        display:flex;
        align-items:center;
        
        }
        a{
             i{
                font-size:25px;
            }

        }
        .smslog-wrapper{
             margin-right:15px;
        display:flex;
        align-items:center;
        
        }
         search-wrapper{
             margin-right:15px;
        display:flex;
        align-items:center;

         }
            
            

  }
}

    



