#winw #headerwarp {
  background-color: white;
}
#winw #headerwarp .header_box {
  border-bottom: display none;
}
#winw #headerwarp #headersub {
  padding-top: 30px;
}
#winw #headerwarp #headersub .logo {
  float: none;
  border-bottom: 10px solid #000;
}
#winw #headerwarp #headersub .logo .logoArea img {
  width: 200px;
  height: 70px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
#winw #headerwarp #headersub .cssmenu {
  float: none;
}
.top_line {
  background-color: #501960;
  width: 100%;
  height: 30px;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.both_sns {
  position: fixed;
  width: 1200px;
  z-index: 999;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}