#winw #headerwarp {
  background-color: white;
}
#winw #headerwarp #headersub .logo {
  float: none;
  border-bottom: 10px solid #000;
}
#winw #headerwarp #headersub .logo logoArea img {
  width: 200px;
  max-height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
#winw #headerwarp #headersub .cssmenu {
  float: none;
}