
#winw{
    #headerwarp{
        background-color:white;
        div:nth-child(1){
            width:100%;
            height:30px;
            background-color:#501960;
            text-align:center;
            color:white;
            line-height:20px;
        }
        .header_box{
            border-bottom:display none;
        }
        #headersub{
            padding-top: 30px;
            .logo{
                float:none;
               
                border-bottom:10px solid #000;
                .logoArea{
                    img{
                        width:200px;
                        height:70px !important;
                        object-fit:cover;
                    }
                }
            }
            .cssmenu{
                float:none;
                #gNavi{


                }
            }
        }

    }
}

.top_line{
    background-color:#501960;
    width:100%;
    height:30px;
    text-align:center;
    color:white;
    position:fixed;
    
    top:0;
    left:0;
}